*{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #D0BCD5;
}

header{
    background: #1B1725;
    display: flex;
    width: 100%;
    height: 90px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 90px;
    height: 90px;
    margin-left: 40px;
}

nav ul li{
    list-style: none;
    margin: 50px;
    padding: 12px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #534B62;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

  .hero {
    background-color: #534B62;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
    border-radius: 1%;
    margin: auto;
    margin-top: 20px;
  }

.heroBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .heroBox h1 {
    font-size: 80px;
    margin-left: 10px;
    font-weight: 900;
    letter-spacing: 8px;
    text-align: center;
    color: beige;
  }

  .heroBox p { 
    font-size: 30px;
    letter-spacing: -2px;
    color: beige;
    text-align: center;
  }

  .heroBox span {
    font-size: 20px;
    letter-spacing: -2px;
    color: beige;
    text-align: center;
  }

  .heroLinks a {
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

 .linkNow{
    background-color: black;
    color: beige;
 }

 .linkInfo{
    background-color: beige;
    color: black;
    border: solid;
 }
  
  .heroLinks{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .heroImg{
    width: 2000px;

  }

  .heroImg img{
    width:100%;
    height:auto;  
  }